* {

    text-align: center;
    text-anchor: middle;

}

body {
    font-family: sans-serif, cambria, serif;
    background-color: lightyellow;
}
h1 {
    text-align:center;
    color:rgb(0, 0, 0);

}

h2 {
    font-weight: 800;
    text-anchor: middle;
    color : black;

}

h3 {
    color: white;
    background-color: lightsalmon;
    text-decoration-line: none;
    border: 2px solid grey;
    border-radius: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

h4 {
    background-color: transparent;
    color: white;
    
}

h7 {
    font-size: 12px;
    color: white;

    border: 1px grey solid;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 5px;
    text-align: center;
    background-color: orange
}

ul {
    padding: 0;
    margin: 0;
    border-radius: 20px;
}

li {
    list-style-type: none;
    background-color: lightblue;
    list-style-type:none;
    list-style-position: inside;
}

a{
    text-decoration: none;
    background-color: lightblue;
    color: red;
}

img {
    border: 1px solid gold;
    border-radius: 20px;
}

.logo {
    width: 400px;
    height: auto;
    border:none;
}
.full_card {
    display: inline-block;
    width: 200px;
    height: 350px;
    background-image: url('../img/card_background.png');
    background-position: center;
    background-size: cover;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    vertical-align: top;
    /* trigger .buttons hover effect when hovering over the entire card */
    &:hover .buttons {
        background-color: rgb(212, 244, 255);
        color: darkslategrey;
    }

}


.buttons {
    color: white;
    text-decoration: none;
    background-color: blue;
    border-radius: 20px;
    padding: 12px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}


.instr_card, .ingred_card {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    padding-bottom: 20px;
}


footer h5 {
    /* position the footer at the bottom of the page */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.instr_card li {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;
}

.full_card img {
    width: 120px;
    height: 120px;
    display: inline;
    margin-top: 20px;
    /*crop the picture to specific pixel*/
    object-fit: cover;
    border-radius: 20px;
}

.instr_card h2, .ingred_card h2 {
    text-decoration-line: underline;
    color: black;
    background-color: transparent;
}

.ingred_card li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 2px;
}