* {
    background-color: lightyellow;
    text-align: center;
    text-anchor: middle;
}

body {
    font-family: sans-serif, cambria, serif;

}
h1 {
    text-align:center;
    
}

h2 {

    font-weight: 800;
    text-anchor: middle;
}

h3 {
    color: white;
    background-color: lightsalmon;
    text-decoration-line: none;
    border: 2px solid grey;
    border-radius: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 
}

h7 {
    font-size: 12px;
    color: grey;

    border: 1px grey solid;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 5px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.full_card {
    display: inline-block;
    width: 200px;
    height: 500px;
    background-color: lightblue;
    margin: 10px;
    text-align: center;
    border-radius: 50px;
    vertical-align: top;
    /* trigger .buttons hover effect when hovering over the entire card */
    &:hover .buttons {
        background-color: rgb(212, 244, 255);
        color: darkslategrey;
    }

}


.buttons {
    color: white;
    text-decoration: none;
    background-color: blue;
    text-align: center;
    border-radius: 20px;
    padding: 12px;
    width: auto;

}

.full_card img {
    width: 150px;
    height: 150px;
    display: inline;
    margin-top: 20px;
    /*crop the picture to specific pixel*/
    object-fit: cover;
    border-radius: 20px;
}

.ingred_card {
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    width:700px;
    margin-left: auto;
    margin-right: auto;
    text-anchor:middle;
}

.instr_card {
    border: 2px solid black;
    border-radius: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.instr_card li {
    list-style-type: decimal;
    list-style-position: inside;
    text-align: left;


}
